body {
    font-family: Arial, sans-serif;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: url('/images/background_image.png') no-repeat center center/cover;
    color: white;
    font-size: 1.5rem;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
